#slide-out{
	transition: .8s transform;
}

#slide-out * a:hover{
	background-color: rgba(0,0,0,0.1);
	transition: background-color .3s;
}

html, body { height: 100%; }

body{
	overflow: hidden;
}

.ocean { 
  height: 0px;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave1 {
  background: url(http://tedmcdo.com/labs/wave.svg) repeat-x; 
  position: absolute;
  top: -120px;
  width: 6400px;
  height: 150px;
  animation: wave 7s cubic-bezier( 0.63, 0.93, 0.63, 0.93) infinite;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}


.wave2 {
	background: url(http://tedmcdo.com/labs/wave.svg) repeat-x; 
  position: absolute;
  top: -120px;
  width: 6300px;
  height: 150px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -7.25s infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}